<div class="junbotron mt-4 bg-white p-4">
    <h1 class="display-4">Note Apss with NodeJS</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempore corporis sequi.</p>
    <hr class="my-4" />
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel inventore laboriosam atque qui maiores molestias omnis at repellendus delectus sapiente.</p>
    <a href="https://github.com" class="btn btn-primary">Miguel2351</a>
</div>