{{#if success_message}}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_message}}
    <button data-dismiss="alert" aria-label="Close">
        <span aria-label="true">&times;</span>
    </button>
</div>

{{/if}}

{{#if error_message}}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{error_message}}
    <button data-dismiss="alert" aria-label="Close">
        <span aria-label="true">&times;</span>
    </button>
</div>

{{/if}}